<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.mapper.MusicToListMapper" >
  <resultMap id="BaseResultMap" type="com.netease.pojo.MusicToList" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="lid" property="lid" jdbcType="VARCHAR" />
    <id column="mid" property="mid" jdbcType="VARCHAR" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
  </resultMap>
</mapper>